textarea.error {
	border: 1px solid red!important
}

input.error {
	border: 1px solid red!important
}

input.error::-webkit-input-placeholder {
	color: #e93c4f!important
}

textarea.error::-webkit-input-placeholder {
	color: #e93c4f!important
}

input.error:-moz-placeholder {
	color: #e93c4f!important
}

textarea.error:-moz-placeholder {
	color: #e93c4f!important
}

input.valid {
	border: 1px solid red!important
}

textarea.valid {
	border: 1px solid red!important
}

input.valid::-webkit-input-placeholder {
	color: #84a507!important
}

input.valid:-moz-placeholder {
	color: #84a507!important
}

input.valid::-moz-placeholder {
	color: #84a507!important
}

input.valid:-ms-input-placeholder {
	color: #84a507!important
}

textarea.valid::-webkit-input-placeholder {
	color: #84a507!important
}

textarea.valid:-moz-placeholder {
	color: #84a507!important
}

textarea.valid::-moz-placeholder {
	color: #84a507!important
}

textarea.valid:-ms-input-placeholder {
	color: #84a507!important
}

.iv-layout.top-header {
	background-color: #1e82b6
}

img.emoji,
img.wp-smiley {
	display: inline!important;
	border: none!important;
	box-shadow: none!important;
	height: 1em!important;
	width: 1em!important;
	margin: 0 .07em!important;
	vertical-align: -.1em!important;
	background: 0 0!important;
	padding: 0!important
}

.wpcf7-response-output {
	color: #000
}

.iv-layout.title-wrapper h2 {
	font-size: 25px!important
}

.iv-layout.top-header {
	background-color: #1e82b6!important
}

.wpb_toggle_content p:last-child {
	margin-bottom: 0
}

p {
	-moz-hyphens: initial!important;
	word-break: keep-all!important
}

body {
	font-size: 14px!important
}

.wpcf7 form p span input[type=email] {
	Color: #000!important;
	background-Color: #fff!important
}

.mc4wp-form-fields p input[type=email],
input[type=text] {
	Color: #000!important;
	background-Color: #fff!important
}

.ivan-call-action .ivan-call-action-inner .call-action-btn-holder {
	text-align: left!important
}

.goog-te-gadget-simple .goog-te-menu-value span {
	color: #000!important
}

#google_translate_element img {
	width: auto!important
}

.goog-te-menu-value {
	margin-left: -2px!important;
	margin-right: 3px!important
}

.goog-te-gadget-simple {
	font-size: 98%!important
}

.vc_gitem-zone-img {
	height: 210px!important
}

.top-header-right-area .vc_col-sm-12 {
	padding-right: 0!important;
	width: 110%!important
}

div.wpcf7-validation-errors {
	border: 0 solid #f7e700!important
}

.style2-right-menu .mega_main_menu .mega_main_menu_ul>li>.item_link {
	padding: 8px!important
}

.vc_custom_1470993507228 {
	background-color: #1e73be!important
}

.vc_custom_1442809668897 {
	padding-top: 5px!important
}

.vc_custom_1470915452650 {
	padding-top: 30px!important;
	padding-right: 10px!important;
	padding-bottom: 30px!important;
	padding-left: 10px!important
}

.vc_custom_1445403652263 {
	margin-top: 15px!important;
	border-top-width: 8px!important;
	border-right-width: 8px!important;
	border-bottom-width: 8px!important;
	border-left-width: 8px!important;
	padding-top: 50px!important;
	padding-right: 34px!important;
	padding-bottom: 50px!important;
	padding-left: 34px!important;
	border-left-color: #2090cb!important;
	border-left-style: solid!important;
	border-right-color: #2090cb!important;
	border-right-style: solid!important;
	border-top-color: #2090cb!important;
	border-top-style: solid!important;
	border-bottom-color: #2090cb!important;
	border-bottom-style: solid!important
}

.vc_custom_1441358389306 {
	background-color: #33a9ee!important
}

.vc_custom_1441187687142 {
	background-color: #303e50!important
}

.vc_custom_1441191242719 {
	background-color: #389609!important
}

.vc_custom_1441194489586 {
	padding-top: 70px!important;
	padding-right: 50px!important;
	padding-bottom: 10px!important;
	padding-left: 50px!important;
	background-color: #fff!important
}

.vc_custom_1441194580696 {
	padding-top: 70px!important;
	padding-right: 50px!important;
	padding-bottom: 70px!important;
	padding-left: 50px!important;
	background-color: #1e73be!important
}

.vc_custom_1442809668897 {
	padding-top: 5px!important
}

.wpb_animate_when_almost_visible {
	opacity: 1
}

@media only screen and (min-width:992px) {
	#dvMobInfo {
		padding: 15px;
		width: 100%
	}
}

.hide-element {
	display: none
}

.pl-7 {
	padding-left: 7px!important
}
.pl-20 {
	padding-left: 20px
}
.pl-30 {
	padding-left: 30px
}

.pr-0 {
	padding-right: 0!important
}

.pl-0 {
	padding-left: 0!important
}

.pb-0 {
	padding-bottom: 0!important
}

.pt-0 {
	padding-top: 0!important
}

.p-0 {
	padding: 0
}

.mt-0 {
	margin-top: 0!important
}

.mb-0 {
	margin-bottom: 0!important
}

.mb-10 {
	margin-bottom: 10px
}

.mb-20 {
	margin-bottom: 20px
}

.m-0 {
	margin: 0 auto
}

.mt-10 {
	margin-top: 10px
}

.mt-40 {
	margin-top: 40px
}

.mt-20 {
	margin-top: 20px
}

.ml-30 {
	margin-left: 30px
}

#trans {
	float: left;
	margin-top: 5px;
	margin-left: -10%
}

.floatleft {
	float: left
}

.width-25 {
	width: 25%
}

.width-50 {
	width: 50%
}

.logo1 img {
	margin-top: 0;
	width: 187px;
	margin-left: 8%
}

#rev_slider_7_1_wrapper {
	background-color: #e9e9e9;
	max-height: 650px
}

#rev_slider_7_1 {
	display: none;
	max-height: 650px;
	height: 650
}

#slide1p {
	font-size: 180%;
	color: #666
}

#slide2p {
	font-size: 180%;
	color: #444
}

.color-white {
	color: #fff
}

.subscribe-form-home p {
	float: left;
	margin-left: 2%
}

.width-30 {
	width: 30%
}

.width-12 {
	width: 12%
}

.clearboth {
	clear: both
}

#dvError {
	color: #f6feff;
	font-weight: 700;
/* 	background-color: red; */
	text-align: center;
	padding: 5px;
	line-height: 1
}

.box-vision {
	padding-top: 80px;
	padding-bottom: 40px;
	border-top-width: 1px
}

.box-who-we-are {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #f7f7f7
}

.box-service {
	padding-top: 50px;
	padding-bottom: 30px;
	margin-top: 0;
	margin-bottom: 50px
}

.height-20 {
	height: 20px
}

.box-touch {
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 0;
	background-image: url(../img/parallax_cont2.jpg)
}
.contact-formreq{
	text-align:left;
	display:none!important;
}
.contact-formemail{
	width:30%;
	float:left;
	margin-left:2%;
}
.contact-formemail1{
	text-align:left;
	display:none;
}
.subscribe-button1{
	width:12%;
	float:left;
	margin-left:2%;
}
.val-error1{
display: none;
text-align:center;
}
.val-error2{
display: none!important
}
.vision-section{
	padding-top: 80px;
	padding-bottom: 40px;
	border-top-width: 1px;
}
.who-we-are-section{
	margin-top: 0px;
	margin-bottom: 0px;
}
.who-we-are-section1{
	color:#ffffff;
}
.why-choose-us1{
	color:#ffffff;
}
.vc_empty_space1{
	height: 2px;
}
.how-we-are-diff{
	color:#ffffff;
}
.get-in-touch{
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 0px;
	background-image: url('../img/parallax_cont1.jpg');
}
.get-in-touch2{
	color:#ffffff;
}
.vc_empty_space3{
	height: 20px;
}
.vc_empty_space4{
	text-align: center;
}
.get-in-touchform{
	margin-bottom:20px;
}
.get-in-touchphn{
	margin-bottom:20px;
}
.get-in-touchemail{
	margin-bottom:20px;
}
.get-in-touchmessage{
	margin-bottom:20px;
}
.get-in-touchsend{
	margin-bottom:5px;
	text-align:center;
}
.get-in-touchimg{
	display:none;
}
.vc_empty_space5{
	height: 14px;
}
.question1{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.subscribe-newsletter1{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.subscribe-newsletter2{
	text-align: center;
	color: #ffffff;
}
.subscribe-newsletterp{
	text-align: center;
	color: #ffffff;
}
.subscribe-newsletterp1{
	text-align: center;
}
.contact-form-subscribep{
	width:30%;
	float:left;
	margin-left:2%;
}
@media (max-width:500px) {
	.subscribe {
		text-align: center;
		margin-left: 0!important
	}
}